:root {
  --bg: #2a324b;
  --fg: #f7c59f;
  --text: #767b91;
  --border: #c7ccdb;
  --hl: #e1e5ee;
  background-color: var(--bg);
}

audio {
  color: var(--fg);
}

button {
  background-color: var(--fg);
  border: none;
  padding: .1rem .2rem;
  margin: 1rem;
  border: .2rem solid var(--border);
  color: var(--bg);
  border-radius: .2rem;
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text);
}

.tut-modal-bg {
  background-color: var(--bg);
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 1;
}

.tut-modal {
  background-color: var(--fg);
  color: var(--text);
  font-size: 1rem;
  width: 70%;
  margin: 50% auto;
  padding: 0.1rem;
  text-align: center;
  border: 1rem solid var(--border);
  position: relative; /* in order to position the close button */
  
}



.tut-modal ol {
  text-align: left;
}

.tut-modal h1 {
  font-size: 3rem;
}

.tut-modal button {
  background-color: var(--text);
  color: var(--fg);
}

.close-button {
  color: var(--bg);
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.selected {
  border: .2rem solid var(--border);
  background-color: var(--hl);
}


#site-logo {
  color: var(--fg);
  font-family: 'URW Chancery L, cursive';
  font-style: italic;
  text-decoration: underline;
  font-size: 3rem;
  display: block;
  padding-top: 2rem;
}

#playlist-search {
  margin: 1rem;
  display:block;
}

#audio-player {
  margin: 1rem;
}

#guess-form {
  margin: 1rem;
}

#info-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#pl-select-bg{
  background-color: var(--fg);
  position: relative;
  z-index: 1;
  padding: .5rem;
  width: 75%;
  border: .5rem solid var(--border);
  text-align: center;
}

#pl-select {
  list-style: none;
  width: 50%;
  margin: auto;
  padding: 0;
}

#result-modal-container {
  height: 4rem;
  width: 75%;
  text-align: center;
  padding: 0;
  position: relative;
}

#result-modal {
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  font-weight: 600;
  transition: opacity .2s ease-in;
  opacity: 0;
}

#timer {
  color: var(--fg);
  height: 3rem;
  width: 50%;
  font-size: 3rem;
  text-align: center;
  line-height: 3rem;
}

.result-correct {
  background-color: rgba(200, 255, 200, .2);
  border: .2rem solid rgba(25, 150, 25, 1);
  color: rgba(25, 150, 25, 1);
}

.result-skipped {
  background-color: rgba(255, 255, 200, .2);
  border: .2rem solid rgba(255, 255, 200, .5);
  color: rgba(255, 255, 200, .5);
}

.result-incorrect {
  background-color: rgba(255, 200, 200, .2);
  border: .2rem solid rgba(200, 100, 100, 1);
  color: rgba(200, 100, 100, 1);
}

.pl-preview {
  text-align: center;
  padding: .2rem;
  margin: .2rem auto;
}

.pl-preview img {
  display:block;
  margin: 0 auto;
}

/*
Solution to prevent mobile from auto-zooming from Azamat Rasulov on Stack Overflow: 
https://stackoverflow.com/a/45769607
*/
input[type="text"] {
  font-size: 16px;
}


/*
Styling for load spinner from W3 schools:
https://www.w3schools.com/howto/howto_css_loader.asp
*/
.spin-loader {
  animation: spin 1s linear infinite;
  display: block;
  margin: auto;
  font-size: 2rem;
  color: var(--bg);
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

@media (min-width: 700px) {
  .tut-modal {
    font-size: 2rem;
  }

  #site-logo {
    font-size: 5rem;
  }

  #pl-select {
    display: flex;
    width: 100%;
  }

  .pl-preview {
    float: left;
    max-width: 25%;
  }
  
  
}
