:root {
  --bg: #2a324b;
  --fg: #f7c59f;
  --text: #767b91;
  --border: #c7ccdb;
  --hl: #e1e5ee;
}

audio {
  color: var(--fg);
}

button {
  background-color: var(--fg);
  border: none;
  padding: .1rem .2rem;
  margin: 1rem;
  border: .2rem solid var(--border);
  color: var(--bg);
  border-radius: .2rem;
}

.App {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text);
}

.tut-modal-bg {
  background-color: var(--bg);
  width: 100%;
  min-height: 100vh;
  position: fixed;
}

.tut-modal {
  background-color: var(--fg);
  color: var(--text);
  font-size: 2rem;
  width: 70%;
  margin: 50% auto;
  padding: 0.1rem;
  text-align: center;
  border: 1rem solid var(--border);
  position: relative; /* in order to position the close button */

}



.tut-modal ol {
  text-align: left;
}

.tut-modal h1 {
  font-size: 3rem;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--hl);
}

.plPreview {
  float: left;
  margin: .2rem;
}

.plPreview img {
  display:block;
  margin: 0 auto;
}

#siteLogo {
  color: var(--fg);
  font-family: 'URW Chancery L, cursive';
  font-style: italic;
  text-decoration: underline;
  font-size: 5rem;
  display: block;
}

#playlistSearch {
  margin: 1rem;
  display:block;
}

#audioPlayer {
  margin: 1rem;
}

#guessForm {
  margin: 1rem;
}

#infoButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#plSelect {
  list-style:none;
  width: 50%;
  margin-top: 2rem;
  display: flex;
}

@media (max-width: 700px) {
  .tut-modal {
    font-size: 1rem;
  }

  #siteLogo {
    font-size: 3rem;
    padding-top: 2rem;
  }
}
